<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Content Images</title> 

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
	</script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
	</script>  -->
</head> 
<body bgcolor="#333333">
	{% for content in content_images %} 
			<div class="col-md-4"> 
					{{ content.name }} 
					<img src="{{ content.content_Main_Img.url }}" class="img-responsive" style="width: 49%; height: 524px"; />
			</div> 
			<div class="col-md-4"> 
					<br>
					<img src="{{ content.style_Main_Img.url }}" class="img-responsive" style="width: 49%; float: left; margin-top: 18px"/> 
			</div>

	{% endfor %} 

<center>
<br />&nbsp;<br />
<br />&nbsp;<br />
<a href="{% url 'final_image' %}" style="font-size: 20px; color: #FFFFFF">The Result</a>
</center>

</body> 
</html> 
